<!--The content below is only a placeholder and can be replaced.-->
<div *ngIf="datos!=null; else espera">
    <table border="1">
        <tr>
            <td>C</td>
        </tr>
        <tr *ngFor="let art of datos">
            <td>{{art.nombre}}</td>
        </tr>
    </table>
</div>
<ng-template #espera>Esperando datos...</ng-template>

<div>
    <p>
        Cedula:<input type="text" [(ngModel)]="buscaNombre" />
    </p>
    <p><button (click)="buscar()">Buscar</button>

        <p>
            Rut:<input type="text" [(ngModel)]="rut" />
        </p>

</div>