<!--The content below is only a placeholder and can be replaced.-->
<div *ngIf="datos!=null; else enproceso">
    <table border="1">
        <tr>
            <td>Rut</td>
            <td>Nombre</td>
            <td>Edad</td>
        </tr>
        <tr *ngFor="let dat of datos">
            <td>{{dat.rut}}</td>
            <td>{{dat.nombre}}</td>
            <td>{{dat.edad}}</td>
        </tr>
    </table>
</div>
<ng-template #enproceso>En proceso...</ng-template>

<div>
    <p>
        Nombre:<input type="text" [(ngModel)]="buscaNombre" />
    </p>
    <p><button (click)="buscar()">Buscar</button>

        <p>
            Rut:<input type="text" [(ngModel)]="rut" />
        </p>
        <p>
            Edad:<input type="text" [(ngModel)]="edad" />
        </p>
</div>